<head>
    <title>Conference API</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

    <!-- <link rel="stylesheet" href="/netdna.bootstrapcdn.com/font-awesome/4.0.3/css/fontawesome.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/bower_components/responsiveboilerplate/css/responsiveboilerplate.css">
    <link rel="stylesheet" href="/bower_components/responsiveboilerplate/css/responsiveboilerplate.min.css">
    <link rel="stylesheet" href="/bower_components/purecss/src/base/css/base.css">
    <link rel="stylesheet" href="/bower_components/purecss/src/buttons/css/buttons.css">
    <link rel="stylesheet" href="/bower_components/purecss/src/buttons/css/buttons-core.css">
    <link rel="stylesheet" href="/bower_components/purecss/src/forms/css/forms.css">
    <link rel="stylesheet" href="/bower_components/purecss/src/forms/css/forms-r.css">
    <link rel="stylesheet" href="/bower_components/purecss/src/grids/css/grids-core.css">
    <link rel="stylesheet" href="/bower_components/purecss/src/menus/css/menus-core.css">
    <link rel="stylesheet" href="/bower_components/purecss/src/menus/css/menus-dropdown.css">
    <link rel="stylesheet" href="/bower_components/purecss/src/menus/css/menus-horizontal.css">
    <link rel="stylesheet" href="/bower_components/purecss/src/menus/css/menus-scrollable.css">
    <link rel="stylesheet" href="/bower_components/purecss/src/menus/css/menus-skin.css">
    <link rel="stylesheet" href="/bower_components/purecss/src/tables/css/tables.css">
    <link rel="stylesheet" href="/stylesheets/landingpage.css">

    <style>
        .container {
            width: 60%;
            margin: 0 auto;
            padding-top: 80px;
        }
        
        .alert {
            color: #fff;
            padding: 10px;
            background-color: #ff0000;
        }
    </style>

</head>